[mysqld]
user=mysql
default-time-zone='+08:00'

# --- 连接与字符集 ---
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

# --- 日志配置 ---
log-error=/var/log/mysql/error.log
slow_query_log=1
slow_query_log_file=/var/log/mysql/mysql-slow.log
long_query_time=5

[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4